<header>
    <h1 class="">
        <a href="{{ site.url }}">
            {{ site.title }}
        </a>
    </h1>
    <nav>
        <ul>
            {% for item in site.data.nav.headernav %}
                <li>
                    <a href="{{ item.link }}" 
                        {% if page.url == item.link %} class=""
                        {% endif %}>
                        {{ item.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>